{
  "openapi": "3.0.1",
  "info": {
    "title": "Incident Management API",
    "description": "Incident Management API. See older version [here](/documentation/index-apidoc.html#api-Incident)\n",
    "contact": {
      "name": "TOPdesk",
      "url": "http://www.topdesk.com",
      "email": "info@topdesk.com"
    },
    "version": "3.8.5"
  },
  "servers": [
    {
      "url": "https://developers.topdesk.com/tas/api"
    }
  ],
  "paths": {
    "/incidents": {
      "get": {
        "tags": [
          "incident"
        ],
        "summary": "Returns a list of incidents.",
        "description": "| Permission | Remarks |\n| ------- | --------|\n| Operator   |  With read permission on 1st/2nd line incident; Category/Branch/Operator filters apply  |\n| Person   |  Accessible; Person visibility settings apply |\n",
        "parameters": [
          {
            "name": "pageStart",
            "in": "query",
            "description": "The offset to start at. The default is 0.\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "How many incidents should be returned max. Default is 10.\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 10000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The sort order of the returned incidents. Incidents can be ordered by most of the fields. But for best performance one should order by one of the following fields: callDate, creationDate,\nmodificationDate, targetDate, closedDate or id. It's faster to order by 1 field only. To specify if the order should be ascending or descending,\nappend \":asc\" or \":desc\" to the field name. Multiple columns can be specified by comma-joining the\norderings. Example: sort=tragetDate:asc,creationDate:desc.\nFields not allowed for sorting are: externalLinks, escalationStatus, action, attachments, partialIncidents, partialIncidents.link\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A FIQL string to select which incidents should be returned. (See [Tutorial](https://developers.topdesk.com/tutorial.html#query))\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "A comma-separated list of which fields should be returned. By default all fields will be returned. (slow)\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateFormat",
            "in": "query",
            "description": "Format of date fields in json. When set to iso8601 dates will be sent in the form of '2020-10-01T14:10:00Z'.\nOtherwise old date format will be used: '2020-10-01T14:10:00.000+0000'\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "iso8601"
              ]
            }
          },
          {
            "name": "all",
            "in": "query",
            "description": "when present or when present and set to true will make all incident to be returned. Including partials and archived.\nThis overrides the default behaviour when only _firstLine_ and _secondLine_ incidents are returned by default. This can\nbe used in combinations with _query_ parameter to narrow down the requited statuses.\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "_Success_\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Incident"
                  }
                }
              }
            }
          },
          "204": {
            "description": "_Success_, no (matching) incidents found\n",
            "content": {}
          },
          "206": {
            "description": "_Success_, but there are more incidents\n",
            "headers": {
              "x-next-page-url": {
                "description": "A link that returns the next list of incidents",
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "format": "url"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Incident"
                  }
                }
              }
            }
          },
          "400": {
            "description": "_Bad Request_\n<ul>\n  <li>The parameters of the request were malformed</li>\n</ul>\n",
            "content": {}
          },
          "401": {
            "description": "_Unauthorized_\n<ul>\n<li>No authentication token provided</li>\n</ul>\n",
            "content": {}
          },
          "403": {
            "description": "_Forbidden_\n<ul>\n<li>No permission to access the data</li>\n</ul>\n",
            "content": {}
          },
          "404": {
            "description": "_Not Found_\n<ul>\n<li>incident or attachment doesn't exist</li>\n</ul>\n",
            "content": {}
          },
          "500": {
            "description": "_Internal Server Error_\n<ul>\n<li>Error occurred on the server</li>\n</ul>\n",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "incident"
        ],
        "summary": "Create an Incident",
        "description": "| Permission | Remarks |\n| ------- | --------|\n| Operator   |  With create permission on 1st/2nd line incident, partials require 2nd line create permission  |\n| Person   |  Can only create first line incidents for himself. Only the following fields can be set depending on the setting for the new call form: <ul><li>request</li><li>briefDescription</li><li>callType</li><li>category</li><li>subcategory</li><li>object</li><li>request</li><li>location</li><li>operatorGroup</li></ul> |\n",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/IncidentCreateBody"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "_Success_\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Incident"
                }
              }
            }
          },
          "400": {
            "description": "_Bad Request_\n<ul>\n<li>The incident id is invalid</li>\n<li>The request contains a field that does not exist</li>\n<li>The request contains a value for a field where the format is wrong. For example, \"true\" mistyped, or the UUID in the wrong format</li>\n<li>The request contains a value for a string field which is too long. For example, brief description can only be 80 characters long</li>\n<li>The request contains an operator which does not belong to the given operator group</li>\n<li>The request contains a subcategory which does not belong to the given category</li>\n<li>The request contains a supplier which is not applicable for the status of the incident</li>\n<li>The request contains an invalid major call</li>\n<li>The person tries to give feedback on an open incident</li>\n<li>The request is for the creation of a partial incident and one of the fields marked as 'Cannot be provided for partials' is included in the request.</li>\n<li>The request is for the creation of a partial incident and no main incident id is provided.</li>\n</ul>\n",
            "content": {}
          },
          "401": {
            "description": "_Unauthorized_\n<ul>\n<li>No authentication token provided</li>\n</ul>\n",
            "content": {}
          },
          "403": {
            "description": "_Forbidden_\n<ul>\n<li>The request contains a field that the person is not allowed to set</li>\n<li>The operator does not have the rights to execute this operation</li>\n</ul>\n",
            "content": {}
          },
          "404": {
            "description": "_Not Found_\n<ul>\n<li>The incident number or id are valid, but incident does not exist</li>\n<li>The request contains a field with an id value which is not existing in the database</li>\n</ul>\n",
            "content": {}
          },
          "500": {
            "description": "_Internal Server Error_\n<ul>\n<li>Error occurred on the server</li>\n</ul>\n",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "incident"
      },
      "x-reporting": {
        "name": "Incident",
        "pluralName": "Incidents",
        "singleEntityUrl": "/incidents/id/{id}",
        "defaultQueryParameters": "dateFormat=iso8601&all=true"
      },
      "x-api": {
        "recommendedPageSize": 5000,
        "defaultSortField": "id"
      }
    },
    "/incidents/id/{id}": {
      "get": {
        "tags": [
          "incident"
        ],
        "summary": "Returns an incident.",
        "description": "| Permission | Remarks |\n| ---------- | --------|\n| Operator   |  With read permission on 1st/2nd line incident; Category/Branch/Operator filters apply  |\n| Person     |  Accessible; Person visibility settings apply |\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The uuid of the incident",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "_Success_\nFields exclusively for SLM-license:\n* Responded\n* Response date\n* sla (as object) containing:\n  * Response target date\n  * (SLA) Target date\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Incident"
                }
              }
            }
          },
          "400": {
            "description": "_Bad Request_\n<ul>\n  <li>The parameters of the request were malformed</li>\n</ul>\n",
            "content": {}
          },
          "401": {
            "description": "_Unauthorized_\n<ul>\n<li>No authentication token provided</li>\n</ul>\n",
            "content": {}
          },
          "403": {
            "description": "_Forbidden_\n<ul>\n<li>No permission on entity</li>\n</ul>\n",
            "content": {}
          },
          "404": {
            "description": "_Not Found_\n<ul>\n<li>The entity was not found</li>\n</ul>\n",
            "content": {}
          },
          "500": {
            "description": "_Internal Server Error_\n<ul>\n<li>Error occurred on the server</li>\n</ul>\n",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "incident"
        ],
        "summary": "Updates an Incident",
        "description": "| Permission | Remarks |\n| ------- | --------|\n| Operator   |  With edit permission on 1st/2nd line incident; Category/Branch/Operator filters apply  |\n| Person   |  Accessible; Person visibility settings apply. Depending on settings, the following fields can be updated: <ul><li>action</li><li>closed</li><li>feedbackRating</li><li>feedbackMessage</li></ul>|\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/IncidentUpdateBody"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "_Success_\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Incident"
                }
              }
            }
          },
          "400": {
            "description": "_Bad Request_ <ul> <li>The incident id is invalid</li> <li>The request contains a field that does not exist</li> <li>The request contains a value for a field where the format is wrong. For example, \"true\" mistyped, or the UUID in the wrong format</li> <li>The request contains a value for a string field which is too long. For example, brief description can only be 80 characters long</li> <li>The request contains an operator which does not belong to the given operator group</li> <li>The request contains a subcategory which does not belong to the given category</li> <li>The request contains a supplier which is not applicable for the status of the incident</li> <li>The request contains an invalid major call</li> <li>The person tries to give feedback on an open incident</li> </ul>",
            "content": {}
          },
          "401": {
            "description": "_Unauthorized_\n<ul>\n<li>No authentication token provided</li>\n</ul>\n",
            "content": {}
          },
          "403": {
            "description": "_Forbidden_\n<ul>\n<li>The request contains a field that the person is not allowed to be set</li>\n<li>The operator does not have the rights to execute this operation</li>\n<li>The incident is archived</li>\n<li>The person tries to give feedback to an incident that isn't his own</li>\n<li>The person tries to give feedback while this is disabled</li>\n<li>The person tries to give feedback not in the range 1 to 5</li>\n</ul>\n",
            "content": {}
          },
          "404": {
            "description": "_Not Found_\n<ul>\n<li>The incident number or id are valid, but incident does not exist</li>\n<li>The request contains a field with an id value which is not existing in the database</li>\n</ul>\n",
            "content": {}
          },
          "500": {
            "description": "_Internal Server Error_\n<ul>\n<li>Error occurred on the server</li>\n</ul>\n",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "incident"
      },
      "patch": {
        "tags": [
          "incident"
        ],
        "summary": "Updates an Incident",
        "description": "| Permission | Remarks |\n| ------- | --------|\n| Operator   |  With edit permission on 1st/2nd line incident; Category/Branch/Operator filters apply  |\n| Person   |  Accessible; Person visibility settings apply. Depending on settings, the following fields can be updated: <ul><li>action</li><li>closed</li><li>feedbackRating</li><li>feedbackMessage</li></ul>|\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/IncidentUpdateBody"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "_Success_\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Incident"
                }
              }
            }
          },
          "400": {
            "description": "_Bad Request_\n<ul>\n<li>The incident id is invalid</li>\n<li>The request contains a field that does not exist</li>\n<li>The request contains a value for a field where the format is wrong. For example, \"true\" mistyped, or the UUID in the wrong format</li>\n<li>The request contains a value for a string field which is too long. For example, brief description can only be 80 characters long</li>\n<li>The request contains an operator which does not belong to the given operator group</li>\n<li>The request contains a subcategory which does not belong to the given category</li>\n<li>The request contains a supplier which is not applicable for the status of the incident</li>\n<li>The request contains an invalid major call</li>\n<li>The person tries to give feedback on an open incident</li>\n</ul>\n",
            "content": {}
          },
          "401": {
            "description": "_Unauthorized_\n<ul>\n<li>No authentication token provided</li>\n</ul>\n",
            "content": {}
          },
          "403": {
            "description": "_Forbidden_\n<ul>\n<li>The request contains a field that the person is not allowed to be set</li>\n<li>The operator does not have the rights to execute this operation</li>\n<li>The incident is archived</li>\n<li>The person tries to give feedback to an incident that isn't his own</li>\n<li>The person tries to give feedback while this is disabled</li>\n<li>The person tries to give feedback not in the range 1 to 5</li>\n</ul>\n",
            "content": {}
          },
          "404": {
            "description": "_Not Found_\n<ul>\n<li>The incident number or id are valid, but incident does not exist</li>\n<li>The request contains a field with an id value which is not existing in the database</li>\n</ul>\n",
            "content": {}
          },
          "500": {
            "description": "_Internal Server Error_\n<ul>\n<li>Error occurred on the server</li>\n</ul>\n",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "incident"
      }
    },
    "/incidents/number/{number}": {
      "get": {
        "tags": [
          "incident"
        ],
        "summary": "Returns an incident.",
        "description": "| Permission | Remarks |\n| ---------- | --------|\n| Operator   |  With read permission on 1st/2nd line incident; Category/Branch/Operator filters apply  |\n| Person     |  Accessible; Person visibility settings apply |\n",
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "description": "The number of the incident",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "_Success_\nFields exclusively for SLM-license:\n* Responded\n* Response date\n* sla (as object) containing:\n  * Response target date\n  * (SLA) Target date\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Incident"
                }
              }
            }
          },
          "400": {
            "description": "_Bad Request_\n<ul>\n  <li>The parameters of the request were malformed</li>\n</ul>\n",
            "content": {}
          },
          "401": {
            "description": "_Unauthorized_\n<ul>\n<li>No authentication token provided</li>\n</ul>\n",
            "content": {}
          },
          "403": {
            "description": "_Forbidden_\n<ul>\n<li>No permission on entity</li>\n</ul>\n",
            "content": {}
          },
          "404": {
            "description": "_Not Found_\n<ul>\n<li>The entity was not found</li>\n</ul>\n",
            "content": {}
          },
          "500": {
            "description": "_Internal Server Error_\n<ul>\n<li>Error occurred on the server</li>\n</ul>\n",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "incident"
        ],
        "summary": "Updates an Incident",
        "description": "| Permission | Remarks |\n| ------- | --------|\n| Operator   |  With edit permission on 1st/2nd line incident; Category/Branch/Operator filters apply  |\n| Person   |  Accessible; Person visibility settings apply. Depending on settings, the following fields can be updated: <ul><li>action</li><li>closed</li><li>feedbackRating</li><li>feedbackMessage</li></ul>|\n",
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/IncidentUpdateBody"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "_Success_",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Incident"
                }
              }
            }
          },
          "400": {
            "description": "_Bad Request_ <ul> <li>The incident id is invalid</li> <li>The request contains a field that does not exist</li> <li>The request contains a value for a field where the format is wrong. For example, \"true\" mistyped, or the UUID in the wrong format</li> <li>The request contains a value for a string field which is too long. For example, brief description can only be 80 characters long</li> <li>The request contains an operator which does not belong to the given operator group</li> <li>The request contains a subcategory which does not belong to the given category</li> <li>The request contains a supplier which is not applicable for the status of the incident</li> <li>The request contains an invalid major call</li> <li>The person tries to give feedback on an open incident</li> </ul>",
            "content": {}
          },
          "401": {
            "description": "_Unauthorized_\n<ul>\n<li>No authentication token provided</li>\n</ul>\n",
            "content": {}
          },
          "403": {
            "description": "_Forbidden_\n<ul>\n<li>The request contains a field that the person is not allowed to be set</li>\n<li>The operator does not have the rights to execute this operation</li>\n<li>The incident is archived</li>\n<li>The person tries to give feedback to an incident that isn't his own</li>\n<li>The person tries to give feedback while this is disabled</li>\n<li>The person tries to give feedback not in the range 1 to 5</li>\n</ul>\n",
            "content": {}
          },
          "404": {
            "description": "_Not Found_\n<ul>\n<li>The incident number or id are valid, but incident does not exist</li>\n<li>The request contains a field with an id value which is not existing in the database</li>\n</ul>\n",
            "content": {}
          },
          "500": {
            "description": "_Internal Server Error_\n<ul>\n<li>Error occurred on the server</li>\n</ul>\n",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "incident"
      },
      "patch": {
        "tags": [
          "incident"
        ],
        "summary": "Updates an Incident",
        "description": "| Permission | Remarks |\n| ------- | --------|\n| Operator   |  With edit permission on 1st/2nd line incident; Category/Branch/Operator filters apply  |\n| Person   |  Accessible; Person visibility settings apply. Depending on settings, the following fields can be updated: <ul><li>action</li><li>closed</li><li>feedbackRating</li><li>feedbackMessage</li></ul>|\n",
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/IncidentUpdateBody"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "_Success_\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Incident"
                }
              }
            }
          },
          "400": {
            "description": "_Bad Request_ <ul> <li>The incident id is invalid</li> <li>The request contains a field that does not exist</li> <li>The request contains a value for a field where the format is wrong. For example, \"true\" mistyped, or the UUID in the wrong format</li> <li>The request contains a value for a string field which is too long. For example, brief description can only be 80 characters long</li> <li>The request contains an operator which does not belong to the given operator group</li> <li>The request contains a subcategory which does not belong to the given category</li> <li>The request contains a supplier which is not applicable for the status of the incident</li> <li>The request contains an invalid major call</li> <li>The person tries to give feedback on an open incident</li> </ul>",
            "content": {}
          },
          "401": {
            "description": "_Unauthorized_\n<ul>\n<li>No authentication token provided</li>\n</ul>\n",
            "content": {}
          },
          "403": {
            "description": "_Forbidden_\n<ul>\n<li>The request contains a field that the person is not allowed to be set</li>\n<li>The operator does not have the rights to execute this operation</li>\n<li>The incident is archived</li>\n<li>The person tries to give feedback to an incident that isn't his own</li>\n<li>The person tries to give feedback while this is disabled</li>\n<li>The person tries to give feedback not in the range 1 to 5</li>\n</ul>\n",
            "content": {}
          },
          "404": {
            "description": "_Not Found_\n<ul>\n<li>The incident number or id are valid, but incident does not exist</li>\n<li>The request contains a field with an id value which is not existing in the database</li>\n</ul>\n",
            "content": {}
          },
          "500": {
            "description": "_Internal Server Error_\n<ul>\n<li>Error occurred on the server</li>\n</ul>\n",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "incident"
      }
    },
    "/incidents/call_types": {
      "get": {
        "tags": [
          "general"
        ],
        "summary": "Get list of call types",
        "description": "| Permission | Remarks |\n| ------- | --------|\n| Operator   | With 1st/2nd line incident permission; Category/Branch/Operator filters apply |\n| Person   |    Unrestricted access |\n",
        "responses": {
          "200": {
            "description": "_Success_\nThe list of call types\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Searchlist"
                  }
                }
              }
            }
          },
          "401": {
            "description": "_Unauthorized_\n<ul>\n<li>No authentication token provided</li>\n</ul>\n",
            "content": {}
          },
          "403": {
            "description": "_Forbidden_\n<ul>\n<li>No permission to access the data</li>\n</ul>\n",
            "content": {}
          },
          "404": {
            "description": "_Not Found_\n<ul>\n<li>The searchlist was not found</li>\n</ul>\n",
            "content": {}
          },
          "500": {
            "description": "_Internal Server Error_\n<ul>\n<li>Error occurred on the server</li>\n</ul>\n",
            "content": {}
          }
        }
      }
    },
    "/incidents/durations": {
      "get": {
        "tags": [
          "general"
        ],
        "summary": "Get list of durations",
        "description": "| Permission | Remarks |\n| ------- | --------|\n| Operator   | With 1st/2nd line incident permission; Category/Branch/Operator filters apply  |\n| Person   |   No access |\n",
        "responses": {
          "200": {
            "description": "_Success_\nThe list of durations\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Duration"
                  }
                }
              }
            }
          },
          "401": {
            "description": "_Unauthorized_\n<ul>\n<li>No authentication token provided</li>\n</ul>\n",
            "content": {}
          },
          "403": {
            "description": "_Forbidden_\n<ul>\n<li>No permission to access the data</li>\n</ul>\n",
            "content": {}
          },
          "404": {
            "description": "_Not Found_\n<ul>\n<li>The searchlist was not found</li>\n</ul>\n",
            "content": {}
          },
          "500": {
            "description": "_Internal Server Error_\n<ul>\n<li>Error occurred on the server</li>\n</ul>\n",
            "content": {}
          }
        }
      },
      "x-reporting": {
        "name": "IncidentDuration",
        "pluralName": "IncidentDurations"
      }
    },
    "/incidents/entry_types": {
      "get": {
        "tags": [
          "general"
        ],
        "summary": "Get list of entry types",
        "description": "| Permission | Remarks |\n| ------- | --------|\n| Operator   | With 1st/2nd line incident permission; Category/Branch/Operator filters apply  |\n| Person   |   No access |\n",
        "responses": {
          "200": {
            "description": "_Success_\nThe list of entry types\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Searchlist"
                  }
                }
              }
            }
          },
          "401": {
            "description": "_Unauthorized_\n<ul>\n<li>No authentication token provided</li>\n</ul>\n",
            "content": {}
          },
          "403": {
            "description": "_Forbidden_\n<ul>\n<li>No permission to access the data</li>\n</ul>\n",
            "content": {}
          },
          "404": {
            "description": "_Not Found_\n<ul>\n<li>The searchlist was not found</li>\n</ul>\n",
            "content": {}
          },
          "500": {
            "description": "_Internal Server Error_\n<ul>\n<li>Error occurred on the server</li>\n</ul>\n",
            "content": {}
          }
        }
      }
    },
    "/incidents/impacts": {
      "get": {
        "tags": [
          "general"
        ],
        "summary": "Get list of impacts",
        "description": "| Permission | Remarks |\n| ------- | --------|\n| Operator   |  With 1st/2nd line incident permission; Category/Branch/Operator filters apply |\n| Person   |  no access|\n",
        "responses": {
          "200": {
            "description": "_Success_\nThe list of impacts\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Searchlist"
                  }
                }
              }
            }
          },
          "401": {
            "description": "_Unauthorized_\n<ul>\n<li>No authentication token provided</li>\n</ul>\n",
            "content": {}
          },
          "403": {
            "description": "_Forbidden_\n<ul>\n<li>No permission to access the data</li>\n</ul>\n",
            "content": {}
          },
          "404": {
            "description": "_Not Found_\n<ul>\n<li>The searchlist was not found</li>\n</ul>\n",
            "content": {}
          },
          "500": {
            "description": "_Internal Server Error_\n<ul>\n<li>Error occurred on the server</li>\n</ul>\n",
            "content": {}
          }
        }
      }
    },
    "/incidents/priorities": {
      "get": {
        "tags": [
          "general"
        ],
        "summary": "Get list of priorities",
        "description": "| Permission | Remarks |\n| ------- | --------|\n| Operator   | With 1st/2nd line incident permission; Category/Branch/Operator filters apply  |\n| Person   |   No access |\n",
        "responses": {
          "200": {
            "description": "_Success_\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Priority"
                  }
                }
              }
            }
          },
          "401": {
            "description": "_Unauthorized_\n<ul>\n<li>No authentication token provided</li>\n</ul>\n",
            "content": {}
          },
          "403": {
            "description": "_Forbidden_\n<ul>\n<li>No permission to access the data</li>\n</ul>\n",
            "content": {}
          },
          "404": {
            "description": "_Not Found_\n<ul>\n<li>The searchlist was not found</li>\n</ul>\n",
            "content": {}
          },
          "500": {
            "description": "_Internal Server Error_\n<ul>\n<li>Error occurred on the server</li>\n</ul>\n",
            "content": {}
          }
        }
      },
      "x-reporting": {
        "name": "IncidentPriority",
        "pluralName": "IncidentPriorities"
      }
    },
    "/incidents/statuses": {
      "get": {
        "tags": [
          "general"
        ],
        "summary": "Get list of processing statuses",
        "description": "| Permission | Remarks |\n| ------- | --------|\n| Operator   | With 1st/2nd line incident permission; Category/Branch/Operator filters apply  |\n| Person   |   No access |\n",
        "responses": {
          "200": {
            "description": "_Success_\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProcessingStatus"
                  }
                }
              }
            }
          },
          "401": {
            "description": "_Unauthorized_\n<ul>\n<li>No authentication token provided</li>\n</ul>\n",
            "content": {}
          },
          "403": {
            "description": "_Forbidden_\n<ul>\n<li>No permission to access the data</li>\n</ul>\n",
            "content": {}
          },
          "404": {
            "description": "_Not Found_\n<ul>\n<li>The searchlist was not found</li>\n</ul>\n",
            "content": {}
          },
          "500": {
            "description": "_Internal Server Error_\n<ul>\n<li>Error occurred on the server</li>\n</ul>\n",
            "content": {}
          }
        }
      },
      "x-reporting": {
        "name": "IncidentProcessingStatus",
        "pluralName": "IncidentProcessingStatuses"
      }
    },
    "/incidents/categories": {
      "get": {
        "tags": [
          "general"
        ],
        "summary": "Get list of categories",
        "description": "| Permission | Remarks |\n| ------- | --------|\n| Operator   |  With 1st/2nd line incident permission; Category/Branch/Operator filters apply |\n| Person   |  no access|\n",
        "responses": {
          "200": {
            "description": "_Success_\nThe list of categories\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IncidentCategory"
                  }
                }
              }
            }
          },
          "401": {
            "description": "_Unauthorized_\n<ul>\n<li>No authentication token provided</li>\n</ul>\n",
            "content": {}
          },
          "403": {
            "description": "_Forbidden_\n<ul>\n<li>No permission to access the data</li>\n</ul>\n",
            "content": {}
          },
          "404": {
            "description": "_Not Found_\n<ul>\n<li>The searchlist was not found</li>\n</ul>\n",
            "content": {}
          },
          "500": {
            "description": "_Internal Server Error_\n<ul>\n<li>Error occurred on the server</li>\n</ul>\n",
            "content": {}
          }
        }
      },
      "x-reporting": {
        "name": "IncidentCategory",
        "pluralName": "IncidentCategories"
      }
    },
    "/incidents/subcategories": {
      "get": {
        "tags": [
          "general"
        ],
        "summary": "Get list of subcategories",
        "description": "| Permission | Remarks |\n| ------- | --------|\n| Operator   |  With 1st/2nd line incident permission; Category/Branch/Operator filters apply |\n| Person   |  no access|\n",
        "responses": {
          "200": {
            "description": "_Success_\nlist of subcategories\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IncidentSubcategory"
                  }
                }
              }
            }
          },
          "401": {
            "description": "_Unauthorized_\n<ul>\n<li>No authentication token provided</li>\n</ul>\n",
            "content": {}
          },
          "403": {
            "description": "_Forbidden_\n<ul>\n<li>No permission to access the data</li>\n</ul>\n",
            "content": {}
          },
          "404": {
            "description": "_Not Found_\n<ul>\n<li>The searchlist was not found</li>\n</ul>\n",
            "content": {}
          },
          "500": {
            "description": "_Internal Server Error_\n<ul>\n<li>Error occurred on the server</li>\n</ul>\n",
            "content": {}
          }
        }
      },
      "x-reporting": {
        "name": "IncidentSubcategory",
        "pluralName": "IncidentSubcategories"
      }
    },
    "/incidents/closure_codes": {
      "get": {
        "tags": [
          "general"
        ],
        "summary": "Get list of closure codes",
        "description": "| Permission | Remarks    |\n| ---------- | ---------- |\n| Operator   |  With 1st/2nd line incident permission; Category/Branch/Operator filters apply |\n| Person     |  no access |\n",
        "responses": {
          "200": {
            "description": "_Success_\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Searchlist"
                  }
                }
              }
            }
          },
          "401": {
            "description": "_Unauthorized_\n<ul>\n<li>No authentication token provided</li>\n</ul>\n",
            "content": {}
          },
          "403": {
            "description": "_Forbidden_\n<ul>\n<li>No permission to access the data</li>\n</ul>\n",
            "content": {}
          },
          "404": {
            "description": "_Not Found_\n<ul>\n<li>The searchlist was not found</li>\n</ul>\n",
            "content": {}
          },
          "500": {
            "description": "_Internal Server Error_\n<ul>\n<li>Error occurred on the server</li>\n</ul>\n",
            "content": {}
          }
        }
      }
    },
    "/incidents/urgencies": {
      "get": {
        "tags": [
          "general"
        ],
        "summary": "Get list of urgencies",
        "description": "| Permission | Remarks |\n| ------- | --------|\n| Operator   |  With 1st/2nd line incident permission; Category/Branch/Operator filters apply |\n| Person   |  no access|\n",
        "responses": {
          "200": {
            "description": "_Success_\nList of urgencies\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Searchlist"
                  }
                }
              }
            }
          },
          "401": {
            "description": "_Unauthorized_\n<ul>\n<li>No authentication token provided</li>\n</ul>\n",
            "content": {}
          },
          "403": {
            "description": "_Forbidden_\n<ul>\n<li>No permission to access the data</li>\n</ul>\n",
            "content": {}
          },
          "404": {
            "description": "_Not Found_\n<ul>\n<li>The searchlist was not found</li>\n</ul>\n",
            "content": {}
          },
          "500": {
            "description": "_Internal Server Error_\n<ul>\n<li>Error occurred on the server</li>\n</ul>\n",
            "content": {}
          }
        }
      }
    },
    "/incidents/free_fields/{tab}/searchlists/{searchlist}": {
      "get": {
        "tags": [
          "incident"
        ],
        "summary": "Get list of optional drop-down values",
        "description": "| Permission | Remarks |\n| ------- | --------|\n| Operator   |  With 1st/2nd line incident permission; Category/Branch/Operator filters apply |\n| Person   |  no access|\n",
        "parameters": [
          {
            "name": "tab",
            "in": "path",
            "description": "The tab number",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number",
              "enum": [
                1,
                2
              ]
            }
          },
          {
            "name": "searchlist",
            "in": "path",
            "description": "The list of optional drop-down values",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number",
              "enum": [
                1,
                2,
                3,
                4,
                5
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "_Success_\n",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Searchlist"
                  }
                }
              }
            }
          },
          "401": {
            "description": "_Unauthorized_\n<ul>\n<li>No authentication token provided</li>\n</ul>\n",
            "content": {}
          },
          "403": {
            "description": "_Forbidden_\n<ul>\n<li>No permission to access the data</li>\n</ul>\n",
            "content": {}
          },
          "404": {
            "description": "_Not Found_\n<ul>\n<li>The searchlist was not found</li>\n</ul>\n",
            "content": {}
          },
          "500": {
            "description": "_Internal Server Error_\n<ul>\n<li>Error occurred on the server</li>\n</ul>\n",
            "content": {}
          }
        }
      }
    },
    "/incidents/id/{id}/timespent": {
      "get": {
        "tags": [
          "time registration"
        ],
        "summary": "Register time spent on an incident by id",
        "description": "| Permission | Remarks |\n| ---------- | --------|\n| Operator   |  With 1st/2nd line incident permission; Category/Branch/Operator filters apply, Feature must be enabled  |\n| Person     |  No access |\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The incident id",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "_Success_\n",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TimeSpent"
                  }
                }
              }
            }
          },
          "204": {
            "description": "_Success_, no entities found\n",
            "content": {}
          },
          "400": {
            "description": "_Bad Request_\n<ul>\n  <li>The parameters of the request were malformed</li>\n</ul>\n",
            "content": {}
          },
          "401": {
            "description": "_Unauthorized_\n<ul>\n<li>No authentication token provided</li>\n</ul>\n",
            "content": {}
          },
          "403": {
            "description": "_Forbidden_\n<ul>\n<li>No permission to access the data</li>\n</ul>\n",
            "content": {}
          },
          "404": {
            "description": "_Not Found_\n<ul>\n<li>The searchlist was not found</li>\n</ul>\n",
            "content": {}
          },
          "500": {
            "description": "_Internal Server Error_\n<ul>\n<li>Error occurred on the server</li>\n</ul>\n",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "time registration"
        ],
        "summary": "Register time spent on an incident by id",
        "description": "| Permission | Remarks |\n| ---------- | --------|\n| Operator   |  With 1st/2nd line incident permission; Category/Branch/Operator filters apply, Feature must be enabled  |\n| Person     |  No access |\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The incident id",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/CreateTimeSpent"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "_Success_\n",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSpent"
                }
              }
            }
          },
          "400": {
            "description": "_Bad Request_\n<ul>\n  <li>The request contains a field that does not exist</li>\n  <li>The request contains a value for a field where the format is wrong. For example, \"true\" mistyped, or the UUID in the wrong format</li>\n</ul>\n",
            "content": {}
          },
          "401": {
            "description": "_Unauthorized_\n<ul>\n<li>No authentication token provided</li>\n</ul>\n",
            "content": {}
          },
          "403": {
            "description": "_Forbidden_\n<ul>\n<li>The operator/person does not have the rights to execute this operation</li>\n<li>The incident is archived</li>\n</ul>\n",
            "content": {}
          },
          "404": {
            "description": "_Not Found_\n<ul>\n<li>The incident number or id are valid, but incident does not exist</li>\n<li>The request contains a field with an id value which is not existing in the database</li>\n</ul>\n",
            "content": {}
          },
          "500": {
            "description": "_Internal Server Error_\n<ul>\n<li>Error occurred on the server</li>\n</ul>\n",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "entry"
      }
    },
    "/incidents/number/{number}/timespent": {
      "get": {
        "tags": [
          "time registration"
        ],
        "summary": "Retrieve time spent on an incident by number",
        "description": "| Permission | Remarks |\n| ---------- | --------|\n| Operator   |  With 1st/2nd line incident permission; Category/Branch/Operator filters apply, Feature must be enabled  |\n| Person     |  No access |\n",
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "description": "The incident number",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "_Success_\n",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TimeSpent"
                  }
                }
              }
            }
          },
          "204": {
            "description": "_Success_, no entities found\n",
            "content": {}
          },
          "400": {
            "description": "_Bad Request_\n<ul>\n  <li>The parameters of the request were malformed</li>\n</ul>\n",
            "content": {}
          },
          "401": {
            "description": "_Unauthorized_\n<ul>\n<li>No authentication token provided</li>\n</ul>\n",
            "content": {}
          },
          "403": {
            "description": "_Forbidden_\n<ul>\n<li>No permission on entity</li>\n</ul>\n",
            "content": {}
          },
          "404": {
            "description": "_Not Found_\n<ul>\n<li>The entity was not found</li>\n</ul>\n",
            "content": {}
          },
          "500": {
            "description": "_Internal Server Error_\n<ul>\n<li>Error occurred on the server</li>\n</ul>\n",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "time registration"
        ],
        "summary": "Register time spent on an incident by number",
        "description": "| Permission | Remarks |\n| ---------- | --------|\n| Operator   |  With 1st/2nd line incident permission; Category/Branch/Operator filters apply, Feature must be enabled  |\n| Person     |  No access |\n",
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "description": "The incident number",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/CreateTimeSpent"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "_Success_\n",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSpent"
                }
              }
            }
          },
          "400": {
            "description": "_Bad Request_\n<ul>\n  <li>The request contains a field that does not exist</li>\n  <li>The request contains a value for a field where the format is wrong. For example, \"true\" mistyped, or the UUID in the wrong format</li>\n</ul>\n",
            "content": {}
          },
          "401": {
            "description": "_Unauthorized_\n<ul>\n<li>No authentication token provided</li>\n</ul>\n",
            "content": {}
          },
          "403": {
            "description": "_Forbidden_\n<ul>\n<li>The operator/person does not have the rights to execute this operation</li>\n<li>The incident is archived</li>\n</ul>\n",
            "content": {}
          },
          "404": {
            "description": "_Not Found_\n<ul>\n<li>The incident number or id are valid, but incident does not exist</li>\n<li>The request contains a field with an id value which is not existing in the database</li>\n</ul>\n",
            "content": {}
          },
          "500": {
            "description": "_Internal Server Error_\n<ul>\n<li>Error occurred on the server</li>\n</ul>\n",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "entry"
      }
    },
    "/incidents/timeregistrations": {
      "get": {
        "tags": [
          "time registration"
        ],
        "summary": "Get list of time registrations. By default only time registartions entries for 1st and 2nd line incidents are returned",
        "parameters": [
          {
            "name": "pageStart",
            "in": "query",
            "description": "The offset to start at. The default is 0.\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "How many entries should be returned max. Default is 100.\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 10000,
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The sort order of the returned entries. To specify if the order should be ascending or descending\nappend \":asc\" or \":desc\" to the field name. Multiple columns can be specified by comma-joining the\norderings. Example: sort=timeSpent:asc,creationDate:desc. By default entries are sorted by modificationDate:desc, creationDate:desc\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A FIQL string to select which incidents should be returned.\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "A comma-separated list of which fields should be returned. By default only id will be returned. The name of fields corresponds to the names\nreturned in response.\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "_Success_\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TimeRegistration"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "_Bad Request_\n<ul>\n  <li>The parameters of the request were malformed</li>\n</ul>\n",
            "content": {}
          },
          "401": {
            "description": "_Unauthorized_\n<ul>\n<li>No authentication token provided</li>\n</ul>\n",
            "content": {}
          },
          "403": {
            "description": "_Forbidden_\n<ul>\n<li>No permission on entity</li>\n</ul>\n",
            "content": {}
          },
          "404": {
            "description": "_Not Found_\n<ul>\n<li>The entity was not found</li>\n</ul>\n",
            "content": {}
          },
          "500": {
            "description": "_Internal Server Error_\n<ul>\n<li>Error occurred on the server</li>\n</ul>\n",
            "content": {}
          }
        }
      },
      "x-reporting": {
        "name": "IncidentTimeRegistration",
        "pluralName": "IncidentTimeRegistrations",
        "singleEntityUrl": "/incidents/timeregistrations/{id}"
      }
    },
    "/incidents/timeregistrations/{id}": {
      "get": {
        "tags": [
          "time registration"
        ],
        "summary": "Returns an timeregistration by id.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The uuid of the time registartion",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "_Success_\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeRegistration"
                }
              }
            }
          },
          "403": {
            "description": "_Forbidden_\n<ul>\n<li>No permission to access incident</li>\n</ul>\n",
            "content": {}
          },
          "404": {
            "description": "_Not Found_\n<ul>\n<li>Incident not found</li>\n</ul>\n",
            "content": {}
          }
        }
      }
    },
    "/incidents/id/{id}/progresstrail": {
      "get": {
        "tags": [
          "progress trail / actions / requests"
        ],
        "summary": "Get incident progress trail by incident id",
        "description": "| Permission | Remark |\n| ----- | --------- |\n| Operator| With read permission on 1st/2nd line incident; Category/Branch/Operator filters apply |\n| Person | Accessible; Person visibility settings apply |\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "incident id",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "The offset at which to start listing the progress trail entries at",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The amount of progress trail entries to be returned per request",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "number",
              "default": 10
            }
          },
          {
            "name": "inlineimages",
            "in": "query",
            "description": "Whether inline images should be returned",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "non_api_attachment_urls",
            "in": "query",
            "description": "Whether links to attachments and bigger versions of inline images should be returned in a format that can be used by a browser (with cookie authentication) instead of by an API user",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "_Success_\n* Up to ```page_size``` entities have been found\n",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProgressTrail"
                  }
                }
              }
            }
          },
          "204": {
            "description": "_Success_, no entities found\n",
            "content": {}
          },
          "206": {
            "description": "_Success_\n* More than ```page_size``` entities have been found, but only so many are returned\n",
            "content": {}
          },
          "400": {
            "description": "_Bad Request_\n<ul>\n  <li>The parameters of the request were malformed</li>\n</ul>\n",
            "content": {}
          },
          "401": {
            "description": "_Unauthorized_\n<ul>\n<li>No authentication token provided</li>\n</ul>\n",
            "content": {}
          },
          "403": {
            "description": "_Forbidden_\n<ul>\n<li>No permission on entity</li>\n</ul>\n",
            "content": {}
          },
          "404": {
            "description": "_Not Found_\n<ul>\n<li>The entity was not found</li>\n</ul>\n",
            "content": {}
          },
          "500": {
            "description": "_Internal Server Error_\n<ul>\n<li>Error occurred on the server</li>\n</ul>\n",
            "content": {}
          }
        }
      }
    },
    "/incidents/number/{number}/progresstrail": {
      "get": {
        "tags": [
          "progress trail / actions / requests"
        ],
        "summary": "Get incident progress trail by incident id",
        "description": "| Permission | Remark |\n| ----- | --------- |\n| Operator| With read permission on 1st/2nd line incident; Category/Branch/Operator filters apply |\n| Person | Accessible; Person visibility settings apply |\n",
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "description": "incident number",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "The offset at which to start listing the progress trail entries at",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The amount of progress trail entries to be returned per request",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 100,
              "minimum": 0,
              "type": "number",
              "default": 0
            }
          },
          {
            "name": "inlineimages",
            "in": "query",
            "description": "Whether inline images should be returned",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "non_api_attachment_urls",
            "in": "query",
            "description": "Whether links to attachments and bigger versions of inline images should be returned in a format that can be used by a browser (with cookie authentication) instead of by an API user",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "_Success_\n* Up to ```page_size``` entities have been found\n",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProgressTrail"
                  }
                }
              }
            }
          },
          "204": {
            "description": "_Success_, no entities found\n",
            "content": {}
          },
          "206": {
            "description": "_Success_\n* More than ```page_size``` entities have been found, but only so many are returned\n",
            "content": {}
          },
          "400": {
            "description": "_Bad Request_\n<ul>\n  <li>The parameters of the request were malformed</li>\n</ul>\n",
            "content": {}
          },
          "401": {
            "description": "_Unauthorized_\n<ul>\n<li>No authentication token provided</li>\n</ul>\n",
            "content": {}
          },
          "403": {
            "description": "_Forbidden_\n<ul>\n<li>No permission on entity</li>\n</ul>\n",
            "content": {}
          },
          "404": {
            "description": "_Not Found_\n<ul>\n<li>The entity was not found</li>\n</ul>\n",
            "content": {}
          },
          "500": {
            "description": "_Internal Server Error_\n<ul>\n<li>Error occurred on the server</li>\n</ul>\n",
            "content": {}
          }
        }
      }
    },
    "/incidents/id/{id}/progresstrail/count": {
      "get": {
        "tags": [
          "progress trail / actions / requests"
        ],
        "summary": "Get incident progress trail entry count by incident id",
        "description": "| Permission | Remark |\n| ----- | --------- |\n| Operator| With read permission on 1st/2nd line incident; Category/Branch/Operator filters apply |\n| Person | Accessible; Person visibility settings apply |\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The incident id",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "_Success_\n",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "number",
                      "format": "int32",
                      "example": 3
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "_Bad Request_\n<ul>\n  <li>The parameters of the request were malformed</li>\n</ul>\n",
            "content": {}
          },
          "401": {
            "description": "_Unauthorized_\n<ul>\n<li>No authentication token provided</li>\n</ul>\n",
            "content": {}
          },
          "403": {
            "description": "_Forbidden_\n<ul>\n<li>No permission on entity</li>\n</ul>\n",
            "content": {}
          },
          "404": {
            "description": "_Not Found_\n<ul>\n<li>The entity was not found</li>\n</ul>\n",
            "content": {}
          },
          "500": {
            "description": "_Internal Server Error_\n<ul>\n<li>Error occurred on the server</li>\n</ul>\n",
            "content": {}
          }
        }
      }
    },
    "/incidents/number/{number}/progresstrail/count": {
      "get": {
        "tags": [
          "progress trail / actions / requests"
        ],
        "summary": "Get incident progress trail entry count by incident number",
        "description": "| Permission | Remark |\n| ----- | --------- |\n| Operator| With read permission on 1st/2nd line incident; Category/Branch/Operator filters apply |\n| Person | Accessible; Person visibility settings apply |\n",
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "description": "The incident number",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "_Success_\n",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "number",
                      "format": "int32",
                      "example": 3
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "_Bad Request_\n<ul>\n  <li>The parameters of the request were malformed</li>\n</ul>\n",
            "content": {}
          },
          "401": {
            "description": "_Unauthorized_\n<ul>\n<li>No authentication token provided</li>\n</ul>\n",
            "content": {}
          },
          "403": {
            "description": "_Forbidden_\n<ul>\n<li>No permission on entity</li>\n</ul>\n",
            "content": {}
          },
          "404": {
            "description": "_Not Found_\n<ul>\n<li>The entity was not found</li>\n</ul>\n",
            "content": {}
          },
          "500": {
            "description": "_Internal Server Error_\n<ul>\n<li>Error occurred on the server</li>\n</ul>\n",
            "content": {}
          }
        }
      }
    },
    "/incidents/number/{number}/actions": {
      "get": {
        "tags": [
          "progress trail / actions / requests"
        ],
        "summary": "Get incident actions by incident number",
        "description": "| Permission | Remark |\n| ----- | --------- |\n| Operator| With read permission on 1st/2nd line incident; Category/Branch/Operator filters apply |\n| Person | Accessible; Person visibility settings apply |\n",
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "description": "incident number",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "The offset at which to start listing the progress trail entries at",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The amount of progress trail entries to be returned per request",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 100,
              "minimum": 0,
              "type": "number",
              "default": 0
            }
          },
          {
            "name": "inlineimages",
            "in": "query",
            "description": "Whether inline images should be returned",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "non_api_attachment_urls",
            "in": "query",
            "description": "Whether links to attachments and bigger versions of inline images should be returned in a format that can be used by a browser (with cookie authentication) instead of by an API user",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "_Success_\n",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Action"
                  }
                }
              }
            }
          },
          "204": {
            "description": "_Success_\n* no entities found\n",
            "content": {}
          },
          "206": {
            "description": "_Success_\n* More than ```page_size``` entities have been found, but only so many are returned\n",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Action"
                  }
                }
              }
            }
          },
          "400": {
            "description": "_Bad Request_\n<ul>\n  <li>The parameters of the request were malformed</li>\n</ul>\n",
            "content": {}
          },
          "401": {
            "description": "_Unauthorized_\n<ul>\n<li>No authentication token provided</li>\n</ul>\n",
            "content": {}
          },
          "403": {
            "description": "_Forbidden_\n<ul>\n<li>No permission on entity</li>\n</ul>\n",
            "content": {}
          },
          "404": {
            "description": "_Not Found_\n<ul>\n<li>The entity was not found</li>\n</ul>\n",
            "content": {}
          },
          "500": {
            "description": "_Internal Server Error_\n<ul>\n<li>Error occurred on the server</li>\n</ul>\n",
            "content": {}
          }
        }
      }
    },
    "/incidents/id/{id}/actions": {
      "get": {
        "tags": [
          "progress trail / actions / requests"
        ],
        "summary": "Get incident actions by incident id",
        "description": "| Permission | Remark |\n| ----- | --------- |\n| Operator| With read permission on 1st/2nd line incident; Category/Branch/Operator filters apply |\n| Person | Accessible; Person visibility settings apply |\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "incident id",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "The offset at which to start listing the progress trail entries at",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The amount of progress trail entries to be returned per request",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 100,
              "minimum": 0,
              "type": "number",
              "default": 0
            }
          },
          {
            "name": "inlineimages",
            "in": "query",
            "description": "Whether inline images should be returned",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "non_api_attachment_urls",
            "in": "query",
            "description": "Whether links to attachments and bigger versions of inline images should be returned in a format that can be used by a browser (with cookie authentication) instead of by an API user",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success\n",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Action"
                  }
                }
              }
            }
          },
          "204": {
            "description": "_Success_\n* No entities found\n",
            "content": {}
          },
          "206": {
            "description": "_Success_\n* More than ```page_size``` entities have been found, but only so many are returned\n",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Action"
                  }
                }
              }
            }
          },
          "400": {
            "description": "_Bad Request_\n<ul>\n  <li>The parameters of the request were malformed</li>\n</ul>\n",
            "content": {}
          },
          "401": {
            "description": "_Unauthorized_\n<ul>\n<li>No authentication token provided</li>\n</ul>\n",
            "content": {}
          },
          "403": {
            "description": "_Forbidden_\n<ul>\n<li>No permission on entity</li>\n</ul>\n",
            "content": {}
          },
          "404": {
            "description": "_Not Found_\n<ul>\n<li>The entity was not found</li>\n</ul>\n",
            "content": {}
          },
          "500": {
            "description": "_Internal Server Error_\n<ul>\n<li>Error occurred on the server</li>\n</ul>\n",
            "content": {}
          }
        }
      }
    },
    "/incidents/id/{incidentid}/actions/{actionid}": {
      "get": {
        "tags": [
          "progress trail / actions / requests"
        ],
        "summary": "Get incident actions by incident id and action id",
        "description": "| Permission | Remark |\n| ----- | --------- |\n| Operator| With read permission on 1st/2nd line incident; Category/Branch/Operator filters apply |\n| Person | Accessible; Person visibility settings apply |\n",
        "parameters": [
          {
            "name": "incidentid",
            "in": "path",
            "description": "incident id",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "actionid",
            "in": "path",
            "description": "action id",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "inlineimages",
            "in": "query",
            "description": "Whether inline images should be returned",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "non_api_attachment_urls",
            "in": "query",
            "description": "Whether links to attachments and bigger versions of inline images should be returned in a format that can be used by a browser (with cookie authentication) instead of by an API user",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "_Success_\n",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Action"
                }
              }
            }
          },
          "400": {
            "description": "_Bad Request_\n<ul>\n  <li>The parameters of the request were malformed</li>\n</ul>\n",
            "content": {}
          },
          "401": {
            "description": "_Unauthorized_\n<ul>\n<li>No authentication token provided</li>\n</ul>\n",
            "content": {}
          },
          "403": {
            "description": "_Forbidden_\n<ul>\n<li>No permission on entity</li>\n</ul>\n",
            "content": {}
          },
          "404": {
            "description": "_Not Found_\n<ul>\n<li>The entity was not found</li>\n</ul>\n",
            "content": {}
          },
          "500": {
            "description": "_Internal Server Error_\n<ul>\n<li>Error occurred on the server</li>\n</ul>\n",
            "content": {}
          }
        }
      },
      "delete": {
        "tags": [
          "progress trail / actions / requests"
        ],
        "summary": "Delete action by incident id and action id",
        "description": "| Permission | Remark |\n| ----- | --------- |\n| Operator| To delete your own memo texts, you need permission to delete your own memo fields under General permissions. To delete any memo text, you need permission to delete all memo fields under General permissions; Category/Branch/Operator filters apply |\n| Person | No access |\n",
        "parameters": [
          {
            "name": "incidentid",
            "in": "path",
            "description": "incident id",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "actionid",
            "in": "path",
            "description": "action id",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "_Success_\n* entity was deleted\n",
            "content": {}
          },
          "400": {
            "description": "_Bad Request_\n<ul>\n  <li>The parameters of the request were malformed</li>\n</ul>\n",
            "content": {}
          },
          "401": {
            "description": "_Unauthorized_\n<ul>\n<li>No authentication token provided</li>\n</ul>\n",
            "content": {}
          },
          "403": {
            "description": "_Forbidden_\n<ul>\n<li>No permission on entity</li>\n</ul>\n",
            "content": {}
          },
          "404": {
            "description": "_Not Found_\n<ul>\n<li>The entity was not found</li>\n</ul>\n",
            "content": {}
          },
          "500": {
            "description": "_Internal Server Error_\n<ul>\n<li>Error occurred on the server</li>\n</ul>\n",
            "content": {}
          }
        }
      }
    },
    "/incidents/number/{incidentnumber}/actions/{actionid}": {
      "get": {
        "tags": [
          "progress trail / actions / requests"
        ],
        "summary": "Get incident actions by incident number and action id",
        "description": "| Permission | Remark |\n| ----- | --------- |\n| Operator| With read permission on 1st/2nd line incident; Category/Branch/Operator filters apply |\n| Person | Accessible; Person visibility settings apply |\n",
        "parameters": [
          {
            "name": "incidentnumber",
            "in": "path",
            "description": "incident number",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actionid",
            "in": "path",
            "description": "action id",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "inlineimages",
            "in": "query",
            "description": "Whether inline images should be returned",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "non_api_attachment_urls",
            "in": "query",
            "description": "Whether links to attachments and bigger versions of inline images should be returned in a format that can be used by a browser (with cookie authentication) instead of by an API user",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "_Success_\n",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Action"
                }
              }
            }
          },
          "400": {
            "description": "_Bad Request_\n<ul>\n  <li>The parameters of the request were malformed</li>\n</ul>\n",
            "content": {}
          },
          "401": {
            "description": "_Unauthorized_\n<ul>\n<li>No authentication token provided</li>\n</ul>\n",
            "content": {}
          },
          "403": {
            "description": "_Forbidden_\n<ul>\n<li>No permission on entity</li>\n</ul>\n",
            "content": {}
          },
          "404": {
            "description": "_Not Found_\n<ul>\n<li>The entity was not found</li>\n</ul>\n",
            "content": {}
          },
          "500": {
            "description": "_Internal Server Error_\n<ul>\n<li>Error occurred on the server</li>\n</ul>\n",
            "content": {}
          }
        }
      },
      "delete": {
        "tags": [
          "progress trail / actions / requests"
        ],
        "summary": "Delete action by incident number and action id",
        "description": "| Permission | Remark |\n| ----- | --------- |\n| Operator| To delete your own memo texts, you need permission to delete your own memo fields under General permissions. To delete any memo text, you need permission to delete all memo fields under General permissions; Category/Branch/Operator filters apply |\n| Person | No access |\n",
        "parameters": [
          {
            "name": "incidentnumber",
            "in": "path",
            "description": "incident number",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actionid",
            "in": "path",
            "description": "action id",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "_Success_\n* entity was deleted\n",
            "content": {}
          },
          "400": {
            "description": "_Bad Request_\n<ul>\n  <li>The parameters of the request were malformed</li>\n</ul>\n",
            "content": {}
          },
          "401": {
            "description": "_Unauthorized_\n<ul>\n<li>No authentication token provided</li>\n</ul>\n",
            "content": {}
          },
          "403": {
            "description": "_Forbidden_\n<ul>\n<li>No permission on entity</li>\n</ul>\n",
            "content": {}
          },
          "404": {
            "description": "_Not Found_\n<ul>\n<li>The entity was not found</li>\n</ul>\n",
            "content": {}
          },
          "500": {
            "description": "_Internal Server Error_\n<ul>\n<li>Error occurred on the server</li>\n</ul>\n",
            "content": {}
          }
        }
      }
    },
    "/incidents/number/{number}/requests": {
      "get": {
        "tags": [
          "progress trail / actions / requests"
        ],
        "summary": "Get incident requests by incident number",
        "description": "| Permission | Remark |\n| ----- | --------- |\n| Operator| With read permission on 1st/2nd line incident; Category/Branch/Operator filters apply |\n| Person | Accessible; Person visibility settings apply |\n",
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "description": "incident number",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "The offset at which to start listing at\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The amount of entities to be returned per request\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 10,
              "minimum": 0,
              "type": "number",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "inlineimages",
            "in": "query",
            "description": "Whether inline images should be returned\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "non_api_attachment_urls",
            "in": "query",
            "description": "Whether links to bigger versions of inline images should be returned in a format that can be used by a browser (with cookie authentication) instead of by an API user\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Up to _page_size_ entities have been found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Request"
                  }
                }
              }
            }
          },
          "204": {
            "description": "_Success_\n* No entities found\n",
            "content": {}
          },
          "206": {
            "description": "_Success_\n* More than ```page_size``` entities have been found, but only so many are returned\n",
            "content": {}
          },
          "400": {
            "description": "_Bad Request_\n<ul>\n  <li>The parameters of the request were malformed</li>\n</ul>\n",
            "content": {}
          },
          "401": {
            "description": "_Unauthorized_\n<ul>\n<li>No authentication token provided</li>\n</ul>\n",
            "content": {}
          },
          "403": {
            "description": "_Forbidden_\n<ul>\n<li>No permission on entity</li>\n</ul>\n",
            "content": {}
          },
          "404": {
            "description": "_Not Found_\n<ul>\n<li>The entity was not found</li>\n</ul>\n",
            "content": {}
          },
          "500": {
            "description": "_Internal Server Error_\n<ul>\n<li>Error occurred on the server</li>\n</ul>\n",
            "content": {}
          }
        }
      }
    },
    "/incidents/id/{id}/requests": {
      "get": {
        "tags": [
          "progress trail / actions / requests"
        ],
        "summary": "Get incident requests by incident id",
        "description": "| Permission | Remark |\n| ----- | --------- |\n| Operator| With read permission on 1st/2nd line incident; Category/Branch/Operator filters apply |\n| Person | Accessible; Person visibility settings apply |\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "incident id",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "The offset at which to start listing at\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The amount of entities to be returned per request\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 10,
              "minimum": 0,
              "type": "number",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "inlineimages",
            "in": "query",
            "description": "Whether inline images should be returned\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "non_api_attachment_urls",
            "in": "query",
            "description": "Whether links to bigger versions of inline images should be returned in a format that can be used by a browser (with cookie authentication) instead of by an API user\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Up to _page_size_ entities have been found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Request"
                  }
                }
              }
            }
          },
          "204": {
            "description": "_Success_\n* No entities found\n",
            "content": {}
          },
          "206": {
            "description": "_Success_\n* More than ```page_size``` entities have been found, but only so many are returned\n",
            "content": {}
          },
          "400": {
            "description": "_Bad Request_\n<ul>\n  <li>The parameters of the request were malformed</li>\n</ul>\n",
            "content": {}
          },
          "401": {
            "description": "_Unauthorized_\n<ul>\n<li>No authentication token provided</li>\n</ul>\n",
            "content": {}
          },
          "403": {
            "description": "_Forbidden_\n<ul>\n<li>No permission on entity</li>\n</ul>\n",
            "content": {}
          },
          "404": {
            "description": "_Not Found_\n<ul>\n<li>The entity was not found</li>\n</ul>\n",
            "content": {}
          },
          "500": {
            "description": "_Internal Server Error_\n<ul>\n<li>Error occurred on the server</li>\n</ul>\n",
            "content": {}
          }
        }
      }
    },
    "/incidents/id/{incidentid}/requests/{requestid}": {
      "get": {
        "tags": [
          "progress trail / actions / requests"
        ],
        "summary": "Get incident request by incident id and request id",
        "description": "| Permission | Remark |\n| ----- | --------- |\n| Operator| With read permission on 1st/2nd line incident; Category/Branch/Operator filters apply |\n| Person | Accessible; Person visibility settings apply |\n",
        "parameters": [
          {
            "name": "incidentid",
            "in": "path",
            "description": "incident id",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "requestid",
            "in": "path",
            "description": "request id",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "inlineimages",
            "in": "query",
            "description": "Whether inline images should be returned\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "non_api_attachment_urls",
            "in": "query",
            "description": "Whether links to bigger versions of inline images should be returned in a format that can be used by a browser (with cookie authentication) instead of by an API user\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "_Success_\n* Up to ```page_size``` entities have been found\n",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Request"
                }
              }
            }
          },
          "204": {
            "description": "_Success_\n* No entities found\n",
            "content": {}
          },
          "206": {
[...]
