requests
fastapi 
git+https://github.com/jlowin/fastmcp.git
uvicorn
 
llama-index
llama-index-tools-mcp
llama-index-llms-ollama

ipython
grandalf

mcp[cli]

pydantic 
python-dotenv>=1.0.0
infisicalsdk>=1.0.6
aiohttp>=3.8.5